<div class="row">
  <!-- <app-item-product ngClass="col-lg-4 col-md-6 mb-4"></app-item-product>
  <app-item-product ngClass="col-lg-4 col-md-6 mb-4"></app-item-product>
  <app-item-product ngClass="col-lg-4 col-md-6 mb-4"></app-item-product> -->
  <!-- <app-item-product></app-item-product>
  <app-item-product></app-item-product>  -->

  <div *ngFor="let product of products" class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
          <a href="#"><img class="card-img-top" [src]="product.image" alt=""></a>
          <div class="card-body">
              <h4 class="card-title">
                  <a href="#">{{product.name}}</a>
              </h4>
              <h5>${{product.price}}</h5>
              <p class="card-text">{{product.desc}}</p>
              <span>{{product.status ? 'con hang' : 'het hang'}}</span>

          </div>
          <button class="btn btn-primary m-3 d-block">Buy now</button>
        
          <div class="card-footer">
            <button class="btn btn-primary" (click)="removeItem(product.id)">Xóa</button>
            &nbsp;
            <button class="btn btn-primary" (click)="showDetail(product)">Chi tiết!</button>
          </div>
      </div>
  </div>

  <div *ngIf="selected">
    <app-product [data]="selected"></app-product>
  </div>

</div>
